/* ==========================================================================
  au2-icon
   ========================================================================== */

.au2-icon {
  display: inline-flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center;

  .ki {
    width: 100%;
    height: 100%;
    line-height: 1;
  }
}

.au2-icon--default {
  font-size: 1.8rem;
}

.au2-icon--large {
  font-size: 2.4rem;
}

.au2-icon--small {
  font-size: 1.5rem;
}