/* ==========================================================================
  auk-alert
  ========================================================================== */

.auk-alert {
  padding: 2rem;
  margin: 0 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auk-alert {
  .auk-badge {
    flex-shrink: 0;
  }
}

.auk-alert__body {
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.auk-alert__text {
  .auk-alert__title {
    font-weight: 500;
    margin-bottom: .2rem;
  }
  .auk-alert__message {
    margin-bottom: 0;
  }
}

/* Skins
   ========================================================================== */

.auk-alert--default {
  background-color: $auk-gray-100;
  .auk-badge--default {
    background-color: #FFFFFF;
  }
}

.auk-alert--success {
  background-color: $auk-green-100;
}

.auk-alert--error {
  background-color: $auk-red-100;
}

.auk-alert--warning {
  background-color: $auk-yellow-100;
}

.auk-alert--loading {
  background-color: $auk-gray-100;
}

/* Animations
   ========================================================================== */

$floating-alert-out-animation-duration: .3s;

@mixin floating-alert-out-animation($delay) {
  animation: $floating-alert-out-animation-duration ease-out ($delay - $floating-alert-out-animation-duration) both floating-alert-out;
}

// the animations (with the coupled delay value) below are derived from https://github.com/kanselarij-vlaanderen/frontend-kaleidos/blob/development/app/services/toaster.js

.auk-alert--default {
  @include floating-alert-out-animation(2s);
}

.auk-alert--success {
  @include floating-alert-out-animation(3.2s);
}

.auk-alert--warning {
  @include floating-alert-out-animation(5s);
}

.auk-alert--error {
  @include floating-alert-out-animation(60s);
}

.auk-alert--loading {
  @include floating-alert-out-animation(10s);
}

@keyframes floating-alert-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(1rem);
  }
}
