/* ==========================================================================
   Component: Menu
   ---
  Dropdown menu
   ========================================================================== */

/* Variables
  ========================================================================== */

$g-auk-menu-z: 60 !default;

/* Component
  ========================================================================== */

.auk-menu {
  background: #FFF;
  min-width: 23rem;
  padding: 1rem 0;
  border: 0.1rem solid $au-gray-200;
  border-radius: 0.3rem;
  filter: drop-shadow(0px 0px 8px rgba(33, 33, 33, 0.25));
  opacity: 0;
  visibility: hidden;
  // z-index: $g-auk-menu-z;
}

.auk-menu--picker {
  .auk-menu__item {
    color: $au-gray-800;
    &:hover {
      color: $au-gray-800;
    }
  }
}

.auk-menu__item {
  color: $au-blue-600;
  text-decoration: none;
  display: flex;
  padding: 0.8rem 1.6rem;

  &:hover {
    background-color: $au-gray-100;
    color: $au-blue-600;
  }
}

.auk-menu__item--text-only {
  padding: 0.2rem 1.6rem 0.8rem 1.6rem;
}

.auk-menu__item--danger {
  color: $au-red-500;
  &:hover {
    color: $au-red-500;
  }
}

.auk-menu__divider {
  border-top: .1rem solid $au-gray-300;
  display: block;
  margin-top: .4rem;
  padding-top: .4rem;
}

.auk-menu--large {
  min-width: 27rem;
}

.auk-menu.auk-menu--visible.js-no-action {
  position: static;
}

.auk-menu--visible {
  opacity: 1;
  visibility: visible;
}

