/* ==========================================================================
  auk-button
   ========================================================================== */

/* Component
   ========================================================================== */

.auk-button {
  font-family: flanders-sans, sans-serif;
  font-size: 1.6rem;
  border: none;
  appearance: none;
  text-decoration: none;
  align-items: center;
  vertical-align: top;
  padding: 0.75rem 1.2rem;
  background-color: transparent;
  white-space: nowrap;
  text-align: center;
  @include element-focus;
  font-weight: 500;
  border-radius: .3rem;
  cursor: pointer;

  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    pointer-events: none;
  }
}

a.auk-button {
  display: inline-flex;
  justify-content: center;
}

.auk-button__label {
  font-size: 1.6rem;
  line-height: 2rem;
  white-space: nowrap;
}

.auk-button {
  .auk-icon + .auk-button__label,
  .auk-button__label + .auk-icon {
    margin-left: 0.6rem;
  }
}

.auk-button__content {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.auk-button--icon {
  padding: 0.75rem 0.85rem;
}

.auk-button--block {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.auk-button--icon img {
  display: block;
}

/* Skins
   ========================================================================== */

.auk-button--primary {
  background: $auk-blue-600;
  color: #fff;
  &:hover {
    background: $auk-blue-700;
  }
  &:active {
    background: $auk-blue-800;
  }
}

.auk-button--secondary {
  box-shadow: inset 0 0 0 0.2rem $auk-blue-600;
  color: $auk-blue-600;
  background: none;
  transition: box-shadow 0.2s;
  &:hover {
    color: $auk-blue-700;
    box-shadow: inset 0 0 0 0.2rem $auk-blue-700;
  }
  &:active {
    color: $auk-blue-800;
    background-color: $auk-blue-100;
    box-shadow: inset 0 0 0 0.2rem $auk-blue-800;
  }
}

.auk-button--tertiary {
  box-shadow: inset 0 0 0 0.1rem $auk-gray-300;
  color: $auk-blue-600;
  background: none;
  &:hover {
    color: $auk-blue-600;
    box-shadow: inset 0 0 0 0.1rem $auk-blue-600;
  }
  &:active {
    color: $auk-blue-800;
    box-shadow: inset 0 0 0 0.1rem $auk-blue-800;
  }
}

.auk-button--primary {
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: #fff;
    background-color: $auk-gray-300;

    .auk-icon {
      color: #fff;
    }
  }
}

.auk-button--secondary {
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: $auk-gray-700;
    box-shadow: inset 0 0 0 0.2rem $auk-gray-600;
    opacity: .3;
    .auk-icon {
      color: $auk-gray-600;
    }
  }
}

.auk-button--tertiary {
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: $auk-gray-700;
    box-shadow: inset 0 0 0 0.1rem $auk-gray-300;
    opacity: .3;
    .auk-icon {
      color: $auk-gray-600;
    }
  }
}

.auk-button--borderless {
  color: $auk-blue-600;
  background: none;
  &:hover,
  &:active {
    color: $auk-blue-700;
  }
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: $auk-gray-700;
    opacity: .3;
  }
}

.auk-button--muted-borderless {
  color: $auk-gray-600;
  &:hover,
  &:active {
    color: $auk-gray-800;
  }
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: $auk-gray-700;
    opacity: .3;
  }
}

.auk-button--danger-primary {
  color: #fff;
  background: $auk-red-500;
  &:hover,
  &:active {
    background: $auk-red-700;
  }
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: #fff;
    background-color: $auk-red-100;

    .auk-icon {
      color: #fff;
    }
  }
}

.auk-button--danger-secondary {
  box-shadow: inset 0 0 0 0.2rem $auk-red-500;
  color: $auk-red-500;
  background: none;
  transition: box-shadow 0.2s;
  &:hover,
  &:active {
    color: $auk-red-700;
    box-shadow: inset 0 0 0 0.2rem $auk-red-700;
  }
}

.auk-button--danger-borderless {
  color: $auk-red-500;
  &:hover,
  &:active {
    color: $auk-red-700;
  }
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: $auk-red-500;
    opacity: .3;
  }
}

.auk-button--success-borderless {
  color: $auk-green-500;
  &:hover,
  &:active {
    color: $auk-green-700;
  }
  &.auk-button--disabled {
    color: $auk-green-500;
    opacity: .3;
  }
}

.auk-button--danger-hover {
  box-shadow: inset 0 0 0 0.1rem $auk-gray-600;
  color: $auk-gray-700;
  background: none;
  &:hover,
  &:active {
    color: $auk-red-500;
    border-color: $auk-red-500;
  }
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: $auk-gray-700;
    box-shadow: inset 0 0 0 0.1rem $auk-gray-300;
    opacity: .3;
    .auk-icon {
      color: $auk-gray-600;
    }
  }
}

.auk-button--disabled {
  color: $auk-gray-500;
  background-color: none;

  &:hover {
    cursor: default;
  }
}

/* Sizes
   ========================================================================== */

.auk-button--size-s {
  font-size: 1.3rem;
}


/* Hide button with js
   ========================================================================== */

.js-auk-button--hide {
  display: none;
}