/* ==========================================================================
  auk-icon
   ========================================================================== */

.auk-icon {
  display: inline-flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center;

  .ki {
    width: 100%;
    height: 100%;
    line-height: 1;
  }
}

/* Size Variations
   ========================================================================== */

.auk-icon--default {
  font-size: 1.8rem;
}

.auk-icon--large {
  font-size: 2.4rem;
}

.auk-icon--small {
  font-size: 1.5rem;
}

/* Color Variations
   ========================================================================== */

.auk-icon--primary {
  color: $auk-blue-500;
}

.auk-icon--muted {
  color: $auk-gray-400;
}

.auk-icon--muted-dark {
  color: $auk-gray-600;
}

.auk-icon--warning {
  color: $auk-yellow-500;
}

.auk-icon--primary {
  color: $auk-blue-500;
}

.auk-icon--success {
  color: $auk-green-500;
}

.auk-icon--danger {
  color: $auk-red-500;
}

.auk-icon--success-dark {
  color: $auk-green-700;
}

.auk-icon--invisible {
  visibility: hidden;
}