/* ==========================================================================
  Component: sidebar
  ========================================================================== */

  .auk-sidebar {
    height: 100%;
    background: $au-gray-100;
  }
  .auk-sidebar--gray-100 {
    background: $au-gray-100;
  }
  .auk-sidebar--gray-200 {
    background: $au-gray-200;
  }
  .auk-sidebar--white {
    background: #FFF;
  }
  .auk-sidebar--left {
    border-right: .1rem solid $au-gray-300;
  }
  .auk-sidebar--right {
    border-left: .1rem solid $au-gray-300;
  }

  /* Sidebar items
   ========================================================================== */
.auk-sidebar__item a {
  display: block;
  text-decoration: none;
  padding: 1.5rem 2rem;
  color: $au-gray-600;
}
.auk-sidebar__item a.active {
  background: $au-gray-200;
  color: $au-gray-800;
}


