/* ==========================================================================
  auk-form-help-text
  ---
  Help text + Errors on forms
   ========================================================================== */

.auk-form-help-text {
  color: $auk-gray-600;
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  .au-c-icon {
    margin-right: 0.5rem;
  }
}

.auk-form-help-text--danger {
  color: $auk-red-700;

  .au-c-icon {
    color: $auk-red-500;
  }
}

.auk-form-help-text--success {
  color: $auk-green-700;

  .au-c-icon {
    color: $auk-green-500;
  }
}

.auk-form-help-text--warning {
  color: $auk-yellow-700;
  
  .au-c-icon {
    color: $auk-yellow-500;
  }
}

.auk-form-help-text + .auk-form-help-text {
  margin-top: 0.5rem;
}
