/* ==========================================================================
  auk-alert-stack
  ---
  Create a global stack for alerts. You can add an element to the stack.
   ========================================================================== */

.auk-alert-stack {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  display: flex;
  flex-direction: column-reverse;
  z-index: $z-index-alert-stack;

  .auk-alert {
    min-width: 40rem;
    box-shadow: $auk-shadow-small;
  }
}

/* Animations
   ========================================================================== */

$floating-alert-out-animation-duration: .3s;

@mixin floating-alert-out-animation($delay) {
  animation: $floating-alert-out-animation-duration ease-out ($delay - $floating-alert-out-animation-duration) both floating-alert-out;
}

// the animations (with the coupled delay value) below are derived from https://github.com/kanselarij-vlaanderen/frontend-kaleidos/blob/development/app/services/toaster.js

.auk-alert-stack {
  .auk-alert--default {
    @include floating-alert-out-animation(2s);
  }
  
  .auk-alert--success {
    @include floating-alert-out-animation(3.2s);
  }
  
  .auk-alert--warning {
    @include floating-alert-out-animation(5s);
  }
  
  .auk-alert--error {
    @include floating-alert-out-animation(60s);
  }
  
  .auk-alert--loading {
    @include floating-alert-out-animation(10s);
  }
}

@keyframes floating-alert-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(1rem);
  }
}
