/* ==========================================================================
  auk-list
  ========================================================================== */

.auk-list__item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.auk-list__item {
  .auk-button-toolbar {
    margin-left: auto;
  }
}

.auk-list--bordered {
  .auk-list__item {
    border-bottom: 0.1rem solid $auk-gray-300;
    padding: 1.2rem 1rem;
    margin: 0;

    &:last-child {
      border: none;
    }
  }
}

.auk-list__item--gray-100 {
  background: $auk-gray-100;
}


.auk-list--view {
  .auk-list__item {
    border-bottom: 0.1rem solid $auk-gray-300;
    padding: .75rem 1rem;
    margin: 0;
    min-height: 6rem;
    
    .auk-button {
      margin-left: auto;
    }

    &:last-child {
      border: none;
    }
  }

  .auk-list__item--gray-100 {
    background: $auk-gray-100;
    border-color: #fff;
  }
  
}

.auk-list--view a {
  &:hover,
  &:focus {
    background-color: $auk-gray-100;
    .auk-avatar,
    .auk-badge {
      background-color: $auk-blue-100;
    }
    span {
      color: $auk-blue-500;
    }
  }
}