/* ==========================================================================
  auk-nota
   ========================================================================== */

.auk-nota {
  margin: 2rem 0;
}

.auk-nota__title {
  font-size: 2rem;
  font-weight: 500;
}

.auk-nota__kort-bestek,
.auk-nota__themes {
  margin: 1.2rem 0;
}
