/* ==========================================================================
  auk-button-toolbar
   ========================================================================== */

.auk-button-toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .auk-button {
    margin: 0.4rem 0.8rem 0.4rem 0;
  }
  .auk-button:last-child {
    margin-right: 0;
  }
  .auk-button-link {
    margin: 0.4rem 1.6rem 0.4rem 0;
  }
  .auk-button-link:last-child {
    margin-right: 0;
  }
}

.auk-button-toolbar--compact {
  flex-wrap: nowrap;
  .auk-button,
  .auk-button:last-child,
  .auk-button-link,
  .auk-button-link:last-child {
    margin: 0 -0.1rem 0 0;
  }
  .auk-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .auk-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

