/* ==========================================================================
  auk-tabs
   ========================================================================== */

.auk-tabs {
  display: flex;
  // overflow: hidden;
  // overflow-x: scroll; disable scrollbar on tabs
}

.auk-tabs--border-bottom {
  border-bottom: 0.1rem solid $au-gray-300;
}

.auk-tabs {
  button {
    font-family: flanders-sans, sans-serif;
    font-size: 1.5rem;
    border: none;
    appearance: none;
    padding: 0;
  }

  a, button {
    color: $au-blue-600;
    font-weight: 500;
    height: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 0.3rem solid transparent;
    white-space: nowrap;

    &:hover {
      background: $au-gray-100;
    }

    @include element-focus;
  }
}

.auk-tabs__tab-inner {
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  top: 0.15rem;

  .auk-tabs__tab:not(:last-child) & {
    border-right: 0.1rem solid #ccc;
  }
}

.auk-tabs__tab-counter {
  font-weight: 400;
  color: $au-blue-600;
}

.auk-tabs__tab--active {
  a, button {
    color: $au-gray-900;
    border-bottom: 0.3rem solid $au-gray-900;

    .auk-tabs__tab-counter {
      color: $au-gray-600;
    }
  }
}

/* Reversed tabs
  ========================================================================== */

.auk-tabs--reversed {
  border-top: 0.1rem solid $au-gray-300;
  margin-top: 1.2rem;
}

.auk-tabs--reversed {
  a, button {
    border-top: 0.3rem solid transparent;
    border-bottom: none;
  }
}

.auk-tabs--reversed .auk-tabs__tab-inner {
  bottom: 0.15rem;
}

.auk-tabs--reversed .auk-tabs__tab--active {
  a, button {
    color: $au-gray-900;
    border-top: 0.3rem solid $au-gray-900;
    border-bottom: none;
  }
}

/* Hierarchical back tab
  ========================================================================== */

.auk-tabs__hierarchical-back.auk-tabs__tab--active {
  a, button {
    color: $au-blue-600;
    border-bottom: 0.3rem solid transparent;
  }
}

.auk-tabs--reversed .auk-tabs__hierarchical-back.auk-tabs__tab--active {
  a, button {
    border-top: 0.3rem solid transparent;
    border-bottom: none;
  }
}

.auk-tabs__hierarchical-back .auk-tabs__label { 
  display: none;
}