/* ==========================================================================
  Text utilities
   ========================================================================== */

.auk-u-muted {
  color: $au-gray-600 !important;
}

.auk-u-italic {
  font-style: italic !important;
}

.auk-u-text-small {
  font-size: 1.3rem !important;
}

.auk-u-text-bold {
  font-weight: 500 !important;
}

.auk-u-text-nowrap {
  white-space: nowrap !important;
}

.auk-u-text-prewrap {
  white-space: pre-wrap !important;
}

.auk-u-text-align--right {
  text-align: right !important;
}
