/* ==========================================================================
  auk-panel-layout
   ========================================================================== */

.auk-panel-layout {
  display: flex;
  height: 100%;
  min-height: 0;
}

.auk-panel-layout__agenda-history {
  width: 20rem;
  height: 100%;
}

.auk-panel-layout__agenda-history--collapsed {
  width: 8rem;
}

.auk-panel-layout__agenda-items {
  width: 32rem;
  height: 100%;

  @media (min-width: 128rem) {
    width: 40rem;
  }
  @media (min-width: 1440px) {
    width: 48rem;
  }
  // If there is a history panel, the agenda panel is 40px smaller
  .auk-panel-layout__agenda-history + & {
    width: 28rem;

    @media (min-width: 1280px) {
      width: 36rem;
    }

    @media (min-width: 1440px) {
      width: 44rem;
    }
  }
}

.auk-panel-layout__main-content {
  flex: 1;
  height: 100%;
  min-width: 0;
}

.auk-panel-layout__sidebar {
  width: 24rem;
  height: 100%;
}

.auk-panel-layout__sidebar--large {
  width: 35rem;
}

.auk-panel-layout__sidebar--small {
  width: 20rem;
}

.auk-panel-layout__sidebar--collapsed {
  width: 6.4rem;
}

/* Responsive (collapsible) panel layout
    ========================================================================== */

.auk-panel-layout--responsive {
  position: relative;

  .auk-panel-layout__sidebar:not(.auk-panel-layout__sidebar--collapsed) {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -8px 15px 10px rgba(0, 0, 0, 0.14),
      -3px 15px 14px rgba(0, 0, 0, 0.12), -4px 15px 5px rgba(0, 0, 0, 0.2);
  }

  .auk-panel-layout__main-content {
    width: calc(100% - 6.4rem);
    flex: 0 0 auto;
  }
}

@media (min-width: 1680px) {
  .auk-panel-layout--responsive {
    .auk-panel-layout__sidebar {
      position: initial;
      box-shadow: none;
    }
  }
}
