@use "settings/s-colors";

/* ==========================================================================
  auk-hr
   ========================================================================== */

.auk-hr {
  margin: 2.4rem 0;
  border-bottom: .1rem solid s-colors.$gray-300;
  hr {
    display: none;
  }
}
