/* ==========================================================================
  auk-pill
   ========================================================================== */

.auk-pill {
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 0 .7rem;
  border-radius: .5rem;
  height: 2.4rem;
}

.auk-pill .auk-icon {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  margin-right: .3rem;
}

.auk-pill--icon-only {
  padding: 0 .3rem;
  width: 2.4rem;
  justify-content: center;
  .auk-icon {
    margin: 0;
  }
}

.auk-pill--icon-right {
  .auk-icon {
    margin-left: .3rem;
    margin-right: 0;
  }
}

.auk-pill--default {
  color: $auk-gray-600;
  background-color: $auk-gray-100;
  border: .1rem solid $auk-gray-300;
}

.auk-pill--white {
  color: $auk-gray-600;
  background: #FFF;
  border: .1rem solid $auk-gray-300;
}

.auk-pill--success {
  color: #FFF;
  background-color: $auk-green-700;
}

.auk-pill--danger {
  color: #FFF;
  background-color: $auk-red-500;
}

.auk-pill--warning {
  color: $auk-color-text;
  background-color: $auk-yellow-500;
  .auk-icon {
    color: $auk-yellow-700;
  }
}
