/* ==========================================================================
  Text utilities
   ========================================================================== */

.auk-u-muted {
  color: $au-gray-600;
}

.auk-u-italic {
  font-style: italic;
}

.auk-u-text-small {
  font-size: 1.3rem;
}

.auk-u-text-bold {
  font-weight: 500;
}

.auk-u-text-nowrap {
  white-space: nowrap;
}

.auk-u-text-prewrap {
  white-space: pre-wrap;
}

.auk-u-text-align--right {
  text-align: right;
}
