@use "sass:math";

/* ==========================================================================
   auk-radio-list
   ========================================================================== */

.auk-radio-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.auk-radio-list--inline {
  flex-direction: row; // reset direction
  align-items: center;
  gap: 2rem;
}