/* ==========================================================================
  Centered layout
   ========================================================================== */

.auk-centered-layout {
  padding: 2.4rem;
}

@media (min-width: 900px) {
  .auk-centered-layout {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
  }

  .auk-centered-layout__inner {
    max-width: 50rem;
    min-width: 40rem;
    margin: 0 auto;
  }
}
