@use "settings/s-colors";

/* ==========================================================================
  Overline
   ========================================================================== */

.auk-overline {
  text-transform: uppercase;
  font-weight: 500;
  color: s-colors.$gray-600;
  letter-spacing: 0.05em;
  font-size: 1.3rem;
}