/* ==========================================================================
  auk-alert-stack
  ---
  Create a global stack for alerts. You can add an element to the stack.
   ========================================================================== */

.auk-alert-stack {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  display: flex;
  flex-direction: column-reverse;

  .auk-alert {
    min-width: 40rem;
    box-shadow: $au-shadow-small;
  }
}

/* Animations
   ========================================================================== */

.auk-alert-stack {
  animation: 0.3s ease-out 5s both floating-alert-out;
}

@keyframes floating-alert-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
