/* ==========================================================================
    Component: Color badge
   ========================================================================== */

.auk-color-badge {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 0.2rem;
}

.auk-color-badge--default {
  background-color: $auk-gray-500;
}

.auk-color-badge--warning {
  background: $auk-yellow-500;
}

.auk-color-badge--error {
  background: $auk-red-500;
}

.auk-color-badge--success {
  background: $auk-green-500;
}
