
/* ==========================================================================
  Utilities: generic (no category)
  ========================================================================== */

.auk-u-maximize-width {
  width: 100% !important;
}

.auk-u-maximize-height {
  height: 100% !important;
}

.auk-u-block {
  display: block;
}

.auk-u-inline {
  display: inline;
}

.auk-u-align-middle {
  vertical-align: middle;
}

.auk-u-sr-only {
  position: absolute !important;
  left: -10000px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}

.auk-u-overflow-hidden {
  overflow: hidden !important;
}

.auk-u-bg-alt {
  background-color: $au-gray-100;
}
