/* ==========================================================================
  auk-alert-stack
  ---
  Create a global stack for alerts. You can add an element to the stack.
   ========================================================================== */

.auk-alert-stack {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  display: flex;
  flex-direction: column-reverse;
  z-index: $z-index-alert-stack;
}
