/* ==========================================================================
  e-base
   ========================================================================== */

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $auk-color-text;
  line-height: 1.6;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none; 
}

p {
  word-break: break-word;
  white-space: normal;

  &::first-letter {
    text-transform: uppercase;
  }
}

a {
  color: $auk-blue-500;
}

strong {
  font-weight: 500;
}

i, em {
  font-style: italic;
}

hr {
  border: none;
  border-top: .1rem solid $auk-gray-300;
  margin: 0;
}

abbr[title] {
  text-decoration: none;
}

::selection {
  background: rgba($auk-yellow-500, .3);
}
