/* ==========================================================================
  e-base
   ========================================================================== */

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-text;
  line-height: 1.6;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none; 
}

a {
  color: $au-blue-600;
}

strong {
  font-weight: 500;
}

i, em {
  font-style: italic;
}

hr {
  border: none;
  border-top: .1rem solid $au-gray-300;
  margin: 0;
}

abbr[title] {
  text-decoration: none;
}
