/* ==========================================================================
   Colors
   ========================================================================== */

// Tint & shade helper functions
// ---
// Makes a color lighter
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Makes a color darker
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

// Color palette
$au-white       : #FFFFFF;
$au-black       : #000000;

$au-gray-100    : #F4F5F6;
$au-gray-200    : #E6E8EB;
$au-gray-300    : #CCD1D9;
$au-gray-400    : #A1ABBA;
$au-gray-500    : #8E98A6;
$au-gray-600    : #69717C;
$au-gray-700    : #545961;
$au-gray-800    : #2A2D31;
$au-gray-900    : #212326;
$au-gray-1000   : #000000;

$au-blue-100    : #D4E3F7;
$au-blue-600    : #0055CC;
$au-blue-700    : #004099;
$au-blue-800    : #002A64;

$au-yellow-100  : #FCF1CF;
$au-yellow-300  : #FEE85C;
$au-yellow-500  : #FFC515;
$au-yellow-700  : #997300;
$au-yellow-800  : #664D00;
$au-brand       : #FEEA52;

$au-red-50      : #FBE9E9;
$au-red-100     : #F7D4D4;
$au-red-300     : #E87878;
$au-red-500     : #DB3434;
$au-red-700     : #990000;
$au-red-800     : #5E0000;

$au-green-100   : #F7FAE5;
$au-green-300   : #D8E878;
$au-green-500   : #8BAE00;
$au-green-700   : #238000;
$au-green-800   : #165100;


/* Semantic colors
 ========================================================================== */
 
$color-primary: $au-blue-600;
$color-header: $au-gray-900;
$color-text: $au-gray-800;
$color-muted: $au-gray-600;
$color-border: $au-gray-300;
