/* ==========================================================================
   Z-index
   ========================================================================== */

$z-index-drag: 1000;
$z-index-dropdown: 1100;
$z-index-sticky: 1200;
$z-index-fixed: 1300;
$z-index-modal-backdrop: 1400;
$z-index-offcanvas: 1500;
$z-index-modal: 1600;
$z-index-alert-stack: 1700;
$z-index-popover: 1800;

$z-index-modal-additive: 1000; // This is used to apply the correct stack order for element placed inside, for example, a modal. Lets say you want to place a popover inside a modal: `$z-index-modal-additive + $z-index-popover`