/* ==========================================================================
   Z-index
   ========================================================================== */

$z-index-prototype-nav: 3000;
$z-index-modal: 2200;
$z-index-modal-backdrop: 2100;
