/* ==========================================================================
  Text utilities
   ========================================================================== */

.u-muted {
  color: $au-gray-600;
}

.u-italic {
  font-style: italic;
}

.u-text-small {
  font-size: 1.3rem;
}

.u-text-bold {
  font-weight: 500;
}

.u-text-nowrap {
  white-space: nowrap;
}